.country {
    padding: 50px;
}

.btn-light {
    margin: 50px 0 0 50px;
    display: inline-block;
    padding: 8px 20px;
}

 .btn-light.dark-mode {
  background-color: #2B3743;
  color: var(--light-mode-text);
}

.country article .country-info div {
    margin: 30px 0;
}

.country-info h2 {
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 30px;
}

.country article .country-info div h5 {
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0;
    letter-spacing: 0.5px;
}

.country article .country-info div h5 span {
    font-weight: 300;
}

.country article p {
    font-size: 18px;
    font-weight: 600;
}

.borders {
    display: inline-flex;
    flex-wrap: wrap;
}

 .borders ul {
    margin: 10px;
    /* background-color: var(--article-color); */
    border: 3px;
    padding: 3px 20px;
    box-shadow: 0 5px 10px hsla(200, 10%, 6%, 0.5);
}

.borders ul.light-mode {
  background-color: var(--light-mode-bg);
  color: var(--light-mode-text);
}

@media (min-width: 992px) {
  .country {
    padding-left: 5px;
}

  .country article .country-info div {
    margin: 2px 0;
    }

  .more-details {
        display: flex;
    }

      .more-details img {
        width: 80vh;
    }
    
      .country-info {
        width: 50%;
        margin-left: 40px;
      }

      .country-info h2 {
        margin: 10px 0;
        letter-spacing: 1px;
        font-size: 40px;
      }

      .modalInfo {
        display: flex;
        justify-content: space-between;
      }

      .btn-light {
        margin-left: 50px;
        }
    }
    
    @media (min-width: 1200px) {
      .country {
        max-width: 1100px;
        margin: auto;
      }

      .btn-light {
        margin-left: 85px;
        }
    }
    
    @media (min-width: 1366px) {
      .country {
        max-width: 1200px;
      }
    }
    
    @media (min-width: 1440px) {
      .country {
        max-width: 1400px;
      }
    }