@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --dark-bg-color: hsl(207,26%, 17%);
  --article-color: hsl(209, 23%, 22%);
  --text-color: hsl(0, 0%, 100%);
  --light-mode-text: hsl(200, 15%. 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-bg: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  /* max-height: 100%; */
  object-fit: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: var(--dark-bg-color);
  color: var(--text-color);
  padding: 5px;
  text-decoration: none;
  border: 2px solid var(--dark-bg-color);
  border-radius: 4px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.btn-light {
  background-color: var(--article-color);
}

.btn:hover {
  background-color: var(--text-color);
  color: var(--dark-bg-color);
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--dark-bg-color);
  color: var(--text-color);
  transition: background-color 0.4s;
}

body.light-mode {
  background-color: var(--light-mode-bg);
  color: var(--light-mode-text);
}

 .form, .countries {
  padding: 10px 50px;
}

/* Nav Bar */
.header {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  background-color: var(--article-color);
  color: var(--text-color);
  box-shadow: 0 5px 10px hsla(200, 15%, 8%, 0.1);
  padding: 30px 20px;
}

.header p {
  font-size: 18px;
  font-weight: 600;
}

header.light-mode {
  background-color: var(--light-mode-bg);
  color: var(--light-mode-text);
}

.header i {
  cursor: pointer;
}

@media (min-width: 640px) {
  .header p {
    font-size: 32px;
    font-weight: 900;
  }
}

/* Search */
.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.filter .form-control {
  width: 100%;
}

.filter .form-control input {
  background-color: #2B3743;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 5px;
  color: #fff;
  font-family: inherit;
  letter-spacing: 0.5px;
  width: 100%;
  margin: 0 0 30px;
}

/* .filter .form-control input::placeholder {
  color: black;
} */

.search-container {
  position: relative;
}

.search-container input[type="search"] {
  padding-right: 30px;
}

.search-container i {
  position: absolute;
  top: 30%;
  right: 10px;
  transform: translateY(-50%);
}

@media (min-width: 540px) {
  .search-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}


.filter .form-control input.light-mode,
.filter .filter-region select.light-mode {
  background-color: #FFFFFF;
  color: var(--light-mode-text);
}

.filter .filter-region .select {
  background-color: #2B3743;
  color: #fff;
  font-family: inherit;
  padding: 12px;
  width: 200px;
  border: none;
  border-radius: 5px;
}

/* Section - grid */
.grid {
  padding: 0 50px 50px;
}

.grid article {
  transition: background-color 0.4s;
}

.grid .flag img {
  border-radius: 5px 5px 0 0;
}

.grid .info {
  border-radius: 0 0 5px 5px;
  background-color: var(--article-color);
  margin: -10px 0 30px;
  padding: 20px;
  color: var(--text-color);
  transition: background-color 0.4s;
}

.grid .info.light-mode {
  background-color: #FFFFFF;
  color: var(--light-mode-text);
}

.grid .info h4 {
  margin: 10px 0;
}

.grid .info h4 span {
  font-weight: 300;
}

@media (min-width: 640px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .grid .info {
    margin: -10px 0 0;
  }
  }

  @media (min-width: 992px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1366px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
      gap: 50px;
    }
  }

@media (min-width: 500px) {
  .filter {
    flex-direction: row;
  }

  .filter .form-control {
    width: auto;
  }

  .filter .form-control input {
    width: auto;
    margin: 0;
  }

  .filter .filter-region {
    width: auto;
  }

  .header, .filter, .grid {
    padding: 20px 100px;
  }
}